body {
    background:url(../images/file.jpg);
	
}
		
body{
	text-align:left;
	justify-content: center;
}

p{
	color:black;
	font-family:Arial;
	font-size: 14px;
	justify-content: center;
}

ul{
	list-style: outside;
}

span {
	font-weight:bold;
	text-decoration: underline;
}


.row{
	justify-content:space-between;
	text-align: left;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}
